[submodule "sonar_data_processing/code/sl2json"]
	path = sonar_data_processing/code/sl2json
	url = https://gitlab.com/hrbrmstr/sl2json
[submodule "sonar_data_processing/code/python-sllib"]
	path = sonar_data_processing/code/python-sllib
	url = git@github.com:opensounder/python-sllib.git
[submodule "sonar_data_processing/code/jupyter-notebooks"]
	path = sonar_data_processing/code/jupyter-notebooks
	url = git@github.com:andrespulido8/jupyter-notebooks.git
